<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProjDef.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>472AD7741ED5E36700666DA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>472AD7881ED5E36800666DA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>472AD7931ED5E36800666DA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
